body {
  font-family: "Tahoma";
  margin: 0px;
}

@media screen and (max-width: 375px) {
  body .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 50px;
    background-color: #fafafb;
    padding: 0px 4px 0px 4px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
  body .header .headerLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .header .headerLeft .sandwichCont img {
    width: 45px;
  }
  body .header .headerLeft .logoCont img {
    width: 45px;
  }
  body .header .headerLeft .buttonsCont .navButton {
    background-color: #f48024;
    color: #fff;
    border-radius: 20px;
    padding: 8px;
    font-size: 0.7rem;
  }
  body .header .headerLeft .buttonsCont .navButtonWhite {
    display: none;
  }
  body .header .headerRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .header .headerRight .searchCont img {
    width: 45px;
  }
  body .header .headerRight .searchCont input {
    display: none;
  }
  body .header .headerRight .buttonsRightCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .header .headerRight .buttonsRightCont .squareButtonFilled {
    background-color: #0095ff;
    color: #ffffff;
    border-radius: 3px;
    padding: 8px;
    font-size: 0.8rem;
    border: 1px solid #7aa7c7;
  }
  body .header .headerRight .buttonsRightCont .squareButtonEmpty {
    background-color: #e1ecf4;
    color: #39739d;
    border-radius: 3px;
    padding: 8px;
    font-size: 0.8rem;
    border: 1px solid #7aa7c7;
  }
}

@media screen and (min-width: 376px) {
  body .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    background-color: #fafafb;
    padding: 0px 50px 0px 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
  body .header .headerLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  body .header .headerLeft .sandwichCont img {
    width: 45px;
  }
  body .header .headerLeft .logoCont img {
    width: 45px;
  }
  body .header .headerLeft .buttonsCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .header .headerLeft .buttonsCont .navButton {
    background-color: #f48024;
    color: #fff;
    border-radius: 20px;
    padding: 8px;
    font-size: 1rem;
  }
  body .header .headerLeft .buttonsCont .navButtonWhite:hover {
    background-color: grey;
    color: white;
    border-radius: 20px;
    padding: 8px;
    font-size: 0.8rem;
  }
  body .header .headerRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  body .header .headerRight .searchCont {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  body .header .headerRight .searchCont img {
    display: none;
  }
  body .header .headerRight .searchCont input {
    height: 30px;
    width: 100%;
    border: 1px solid #333;
    border-radius: 3px;
  }
  body .header .headerRight .buttonsRightCont {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .header .headerRight .buttonsRightCont .squareButtonFilled {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: #0095ff;
    color: #ffffff;
    border-radius: 3px;
    padding: 8px;
    font-size: 0.8rem;
    border: 1px solid #7aa7c7;
  }
  body .header .headerRight .buttonsRightCont .squareButtonEmpty {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: #e1ecf4;
    color: #39739d;
    border-radius: 3px;
    padding: 8px;
    font-size: 0.8rem;
    border: 1px solid #7aa7c7;
  }
}
/*# sourceMappingURL=custom.css.map */